@tailwind base;

@tailwind components;

@tailwind utilities;

  /* Other CSS Properties  */

.hide_scroll::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE and Edge */
.hide_scroll {
    -ms-overflow-style: none;
  }

  /* Allows for proper border rounding on Safari */
  select {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
  }