@tailwind base;
@tailwind components;
@tailwind utilities;

/* ********************* */
/* ***** CONSTANTS ***** */
/* ********************* */
$theme-primary: #fe4c00;
$theme-secondary: #ffd618;
$theme-danger: #130b57;

$transition-duration: 0.25s;

$page-border: 5vw;

.mr-page {
  margin-right: $page-border;
}

/* ********************* */
/* ******* FONTS ******* */
/* ********************* */
@font-face {
  font-family: SomaticRounded;
  src: url(/fonts/Somatic-Rounded.otf) format('opentype');
}
@font-face {
  font-family: Roboto;
  src: url(/fonts/Roboto/Roboto-Thin.ttf) format('truetype');
  font-weight: 200;
}
@font-face {
  font-family: Roboto;
  src: url(/fonts/Roboto/Roboto-ThinItalic.ttf) format('truetype');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: Roboto;
  src: url(/fonts/Roboto/Roboto-Regular.ttf) format('truetype');
}
@font-face {
  font-family: Roboto;
  src: url(/fonts/Roboto/Roboto-MediumItalic.ttf) format('truetype');
  font-style: italic;
  font-weight: 500;
}
@font-face {
  font-family: Roboto;
  src: url(/fonts/Roboto/Roboto-Medium.ttf) format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: Roboto;
  src: url(/fonts/Roboto/Roboto-LightItalic.ttf) format('truetype');
  font-style: italic;
}
@font-face {
  font-family: Roboto;
  src: url(/fonts/Roboto/Roboto-Light.ttf) format('truetype');
}
@font-face {
  font-family: Roboto;
  src: url(/fonts/Roboto/Roboto-Italic.ttf) format('truetype');
  font-style: italic;
}
@font-face {
  font-family: Roboto;
  src: url(/fonts/Roboto/Roboto-BoldItalic.ttf) format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: Roboto;
  src: url(/fonts/Roboto/Roboto-Bold.ttf) format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: Roboto;
  src: url(/fonts/Roboto/Roboto-BlackItalic.ttf) format('truetype');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: Roboto;
  src: url(/fonts/Roboto/Roboto-Black.ttf) format('truetype');
  font-weight: 900;
}

@font-face {
  font-family: RobotoSlab;
  src: url(/fonts/RobotoSlab/RobotoSlab-ExtraLight.ttf) format('truetype');
  font-weight: 100;
}
@font-face {
  font-family: RobotoSlab;
  src: url(/fonts/RobotoSlab/RobotoSlab-Thin.ttf) format('truetype');
  font-weight: 200;
}
@font-face {
  font-family: RobotoSlab;
  src: url(/fonts/RobotoSlab/RobotoSlab-Light.ttf) format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: RobotoSlab;
  src: url(/fonts/RobotoSlab/RobotoSlab-Regular.ttf) format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: RobotoSlab;
  src: url(/fonts/RobotoSlab/RobotoSlab-SemiBold.ttf) format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: RobotoSlab;
  src: url(/fonts/RobotoSlab/RobotoSlab-Bold.ttf) format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: RobotoSlab;
  src: url(/fonts/RobotoSlab/RobotoSlab-ExtraBold.ttf) format('truetype');
  font-weight: 700;
}

.font-somatic {
  font-family: SomaticRounded;
}

.font-roboto {
  font-family: Roboto;
}

.font-roboto-slab {
  font-family: RobotoSlab;
}

.font-bold {
  font-weight: 600 !important;
}

.font-semi-bold {
  font-weight: 500 !important;
}

.contained {
  padding-left: $page-border;
  padding-right: $page-border;
}

.rounded-xl {
  border-radius: 15px;
}

body {
  font-family: Roboto;
  font-weight: 400;
}

.fill-primary {
  fill: $theme-primary;
}

.fill-secondary {
  fill: $theme-secondary;
}

.fill-white {
  * {
    fill: white;
  }
}

.hide_scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
.hide_scroll {
  -ms-overflow-style: none;
}

/* Allows for proper border rounding on Safari */
* {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}

.cuisine-bar-after:after {
  display: block;
  content: '';
  -webkit-flex: 0 0 var(--_2NCTA92m);
  -ms-flex: 0 0 var(--_2NCTA92m);
  flex: 0 0 var(--_2NCTA92m);
}

.article {
  &__top {
    background: url(/svgs/eating-bao.svg) bottom center no-repeat;
    background-size: 100%;
    min-height: 30vw;
  }

  &__title {
    bottom: 65%;

    h1 {
      font-family: SomaticRounded;
      font-size: 6vw;
      line-height: 1em;
      width: 40%;
    }
  }

  &__author {
    top: 60%;
    margin-left: -10px;
  }

  &__feature-video {
    position: relative;
    height: 0;
    width: 100%;
    padding-bottom: 56.25%;
  }

  &__content {
    color: $theme-danger;

    p {
      font-weight: 500;
      opacity: 0.8;
    }
  }
}

.cuisine-item {
  cursor: pointer;
  margin-left: 0.5em;
  margin-right: 0.5em;

  &:first-child {
    margin-left: $page-border;
  }

  &:last-child::after {
    content: ' ';
    width: $page-border;
  }

  & > div {
    position: relative;
    max-height: 3.33em;

    svg {
      height: 6.66em;
      margin-top: -0.2em;
    }
  }
}

.mobile-search-input {
  background-color: #fafafa;
  overflow-x: hidden;
  animation: $transition-duration ease-in-out 0s 1 slideInFromRight;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.tastiest-logo {
  cursor: pointer;
  z-index: 150;

  &-link {
    z-index: 200;
  }
}
