@tailwind base;
@tailwind components;
@tailwind utilities;

$theme-primary: #fe4c00;

/* ********************* */
/* ******* FONTS ******* */
/* ********************* */
@font-face {
  font-family: SomaticRounded;
  src: url(/fonts/Somatic-Rounded.otf) format('opentype');
}

@font-face {
  font-family: SourceCodePro;
  src: url(/fonts/SourceCodePro.ttf) format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

.__next {
  overflow-x: hidden;
}

.rounded-xl {
  border-radius: 15px;
}

.rounded-t-xl {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

body {
  background-color: #ffffff;
  font-family: Roboto;
  font-weight: 400;
  font-smooth: antialiased;
  min-width: 350px;

  ::selection {
    color: white;
    background: rgba($theme-primary, 0.33);
  }

  & > div {
    overflow-x: hidden;
  }
}

// Pagination
.pagination {
  display: flex;
  justify-content: center;

  li {
    &:first-child {
      border-top-left-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
    }

    &:last-child {
      border-top-right-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
    }

    &:hover {
      background-color: #dfbb0a;
    }

    cursor: pointer;
    padding: 0.25rem 1rem;
    width: max-content;
    font-weight: 500;
    border-radius: 0;
    background-color: #ffd400;
  }
}

.hide_scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
.hide_scroll {
  -ms-overflow-style: none;
}

/* Allows for proper border rounding on Safari */
* {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}
