@import '../node_modules/@tastiest-io/tastiest-ui/dist/styles.min.css';

/* ************************ */
/* ******* TAILWIND ******* */
/* ************************ */

@tailwind base;
@tailwind components;



a {
  @apply cursor-pointer hover:underline hover:text-secondary;

  &.no-underline {
    text-decoration: none !important;
  }
}

ul:not([role="listbox"]) {
  @apply list-none;

  li {
    @apply flex;

    p {
      @apply mb-0;
    }
  }

  li:not(.rs-carousel-label-wrapper)::before {
    content: "\2022";
    @apply text-primary font-bold inline-block w-4;
  }

  &.list-primary li::before {
    @apply text-primary;
  }

  &.list-secondary li::before {
    @apply text-secondary;
  }
}

// Google Tag Manager Anti-flicker
.async-hide {
  opacity: 0 !important
}

body {
  @apply bg-light text-dark font-secondary font-normal;
  font-smooth: antialiased;
  scroll-behavior: smooth;

  ::selection {
    color: white;
    @apply bg-primary bg-opacity-25;
  }

  & > div {
    // overflow-x: hidden;
  }
}



@tailwind utilities;

/* ********************* */
/* ******* FONTS ******* */
/* ********************* */
@font-face {
  font-family: SourceCodePro;
  src: url(/fonts/SourceCodePro.ttf) format('truetype');
}

// Frosted glass
.glass {
  backdrop-filter: blur(5px);
  @apply bg-gray-200 bg-opacity-25;
}

// HorizontalScrollable
.scrolling-touch {
  -webkit-overflow-scrolling: touch;
}

// .__next {
//   overflow-x: hidden;
// }

// Pagination
.pagination {
  display: flex;
  justify-content: center;

  li {
    &::before {
      content: unset;
    }

    &:first-child {
      border-top-left-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
    }

    &:last-child {
      border-top-right-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
    }

    &:hover {
      @apply bg-primary;
    }

    cursor: pointer;
    padding: 0.25rem 1rem;
    width: max-content;
    font-weight: 500;
    border-radius: 0;
    @apply bg-secondary;
  }
}

.hide_scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
.hide_scroll {
  -ms-overflow-style: none;
}

/* Allows for proper border rounding on Safari */
* {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}
