/* ************************ */
/* ******* TAILWIND ******* */
/* ************************ */

@tailwind base;
@tailwind components;


a {
  @apply cursor-pointer;

  &:not(.no-underline):hover {
    @apply underline;
  }
}

ul {
  @apply list-none;

  li {
    @apply flex;

    p {
      @apply mb-0;
    }
  }

  li::before {
    content: "\2022";
    @apply text-primary font-bold inline-block w-4;
  }

  &.list-primary li::before {
    @apply text-primary;
  }

  &.list-secondary li::before {
    @apply text-secondary;
  }
}

body {
  @apply text-primary bg-white font-secondary font-normal;
  font-smooth: antialiased;

  ::selection {
    color: white;
    @apply bg-primary bg-opacity-25;
  }

  & > div {
    overflow-x: hidden;
  }
}

@tailwind utilities;

/* ********************* */
/* ******* FONTS ******* */
/* ********************* */
@font-face {
  font-family: SourceCodePro;
  src: url(/fonts/SourceCodePro.ttf) format('truetype');
}


.__next {
  overflow-x: hidden;
}

// Pagination
.pagination {
  display: flex;
  justify-content: center;

  li {
    &::before {
      content: unset;
    }

    &:first-child {
      border-top-left-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
    }

    &:last-child {
      border-top-right-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
    }

    &:hover {
      background-color: #dfbb0a;
    }

    cursor: pointer;
    padding: 0.25rem 1rem;
    width: max-content;
    font-weight: 500;
    border-radius: 0;
    background-color: #ffd400;
  }
}

.hide_scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
.hide_scroll {
  -ms-overflow-style: none;
}

/* Allows for proper border rounding on Safari */
* {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}
